*{
    margin: 0;
    padding: 0;
}

/* css variables*/
/* :root{
    --navbar-height: 59px;
} */

/* navigation bar*/

#navbar{
    position: relative;
    display: flex;
    align-items: center;
    background-color: black;
    
}

/*logo and image*/

#logo{
    height: 49px;
    margin: 3px 6px;
}

#logo img{
    height: 49px;
    margin: 3px 6px;
}

#navbar ul li{
    
    list-style: none;
    font-size: 1.3rem;
    
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: white;
    background-color: black;
}





/* list styling*/
#navbar ul{
    display: flex;
    font-family: 'Bree Serif', serif;
}

#navbar::before{
    content: "";
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* home section */

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 653px;
    justify-content: center;
    align-items: center;

}

#home::before{
    content: "";
    background: url('../bg.jpg');
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}

#home h1{
    color: red;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* services section */

#services{
    margin: 24px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 20px;
    background-color: rgb(158, 150, 150);
}

#services .box img{
    height: 156px;
    margin: auto;
    display: block;
    border-radius: 100px;

}


#services .box p{
    font-family: 'Baloo Bhai 2', cursive;
}
#services{}
#services{}
#services{}


/* client section */
#client-section{
    position: relative;
    height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    /* background: url('spbg.jpeg'); */
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-item{
    padding: 34px;
}
#clients img{
    height: 144px;
}

/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact.jpeg')no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}

 footer{
    background: black;
    color: white;
 }
/* utility classes */

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
    
.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;

}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(45, 45, 45);
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;

}



.center{
    text-align: center;
}
